{{template "base" .}}
{{ define "title"}} About {{end}}
{{ define "content"}} 
    <section class="container py-5">
        <h2 class="mb-4">How to play?</h2>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">Create new game</li>
            <li class="list-group-item">Enter your name</li>
            <li class="list-group-item">Choose between rock, paper or scissors images</li>
            <li class="list-group-item">And start a game</li>
        </ol>
    </section>
{{end}}