{{template "base" .}}
{{ define "title"}} Play {{end}}
{{ define "content"}} 
    <section>
        <div class="container">
            <div class="row">
                <div class="col py-5 text-center">
                    <h2>{{.Name}}</h2>
                    <p class="fw-bold" id="player_score">0</p>
                    <div class="d-grid gap-2 card p-3">
                        <button class="btn btn-outline-success" onclick="choose(0)">
                            <img src="/static/img/rock_icon.png" alt="rock" width="50" class="img-fluid">
                            <span class="fw-bold">Rock</span>
                        </button>
                        <button class="btn btn-outline-success"  onclick="choose(1)">
                            <img src="/static/img/paper_icon.png" alt="paper" width="50" class="img-fluid">
                            <span class="fw-bold">Paper</span>
                        </button>
                        <button class="btn btn-outline-success"  onclick="choose(2)">
                            <img src="/static/img/scissors_icon.png" alt="scissors" width="50" class="img-fluid">
                            <span class="fw-bold">Scissors</span>
                        </button>
                    </div>
                    <p class="fw-bold" id="player_choice"></p>
                </div>
                <div class="col py-5 text-center">
                    <h2>Computer</h2>
                    <p class="fw-bold"  id="computer_score">0</p>
                    <div class="card p-3">
                        <div class="d-flex justify-content-center">
                            <img src="/static/img/reload_icon1.png" alt="" id="img_computer"  width="290" class="img-fluid">
                        </div>
                    </div>                    
                    <p class="fw-bold" id="computer_choice"></p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row text-center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-danger" id="round_result"></li>
                    <li class="list-group-item text-success" id="round_message"></li>
                </ul>
            </div>
            <div class="row text-center">
                <div class="col py-3">
                    <a href="/new" class="btn btn-success btn-lg">New game</a>
                </div>
            </div>
        </div>
    </section>
{{end}}